<!DOCTYPE html>
<html lang="en">
<head>
    <title>Airport</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
    <div class="container">
        <h1>Search for Airports</h1>
        <input type="text" id="countryName" placeholder="Country Name or Code"/>
        <button onclick="search()" class=".btn">Search</button>
        </div>
    </body>
   <script>
    function search() {
        var input = document.getElementById("countryName")
        var searchTerm = input.value
        window.location.href = "/search?country="+searchTerm
    }
</script>

</html>
